<app-navigation></app-navigation>
<div class="main">
    <div class="container">
        <div class="form-bailam">
            <form class="form-cauhoi">
                <div class="form-textcontent">
                    <h1 class="text-sttCauHoi">1</h1>
                    <h1 class="text-cauhoi">H2 + O2 = ?</h1>
                </div>
                <div class="form-checkbox">
                    <label class="checkbox" nz-checkbox>H20</label>
                    <label class="checkbox" nz-checkbox>HN02</label>
                    <label class="checkbox" nz-checkbox>H2SO4</label>
                    <label class="checkbox" nz-checkbox>H3CLO3</label>
                </div>
            </form>
            <button class="btn-submit" nz-button>Submit</button>
        </div>
        
    </div>
</div>